body {
    margin: 0;
    padding: 0;
}


.d {
    height: 70px;
    background-color: #424245;
    display: flex;
    align-items: center;
}


.d p{
    font-size: 12px;
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: "SF Pro Text","Myriad Set Pro",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","SF Pro Icons","Apple Legacy Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

header {
    height: 45px;
    background-color: #1e1e1e;  
    display: flex;
    align-items: center;
    opacity: .8;
}

ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

ul li{
    list-style: none;
}

ul li a{
    display: inline-block;
    font-size: 12px;
    opacity: .8;
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    color: #f5f5f7;
    margin: 0 25px;
}

ul li a i {
    font-size: 18px;
}

.bl1{
    height: 625px;
    background-color: #000000;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}


.text1 {
    font-size: 55px;
    color: white;
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 500px;
}

.text2 {
    margin-top: 60px;
    font-size: 40px;
    color: white;
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    margin: 0 auto; 
}
